body{
    margin: 0%;
    padding: 0%;
    font-family: 'Courier New', Courier, monospace;
}

a{
    color: whitesmoke;
    text-decoration: none;
}

.back{
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    background: no-repeat url('../img/img6.jpg') center / cover fixed;
}

.tudo{
    width: 90%;
    height: 80%;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.key{
    color: whitesmoke;
    background-color: rgba(99, 0, 86, 0.781);
    width: 75px;
    height: 75px;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    padding-bottom: 20px;
    transition: all .02s;
    text-shadow: 0 0 5px black;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.key > kbd{
    color: white;
    font-size: 1.7cm;
    padding-left: 5px;
    padding-right: 5px;
}

.sound{
    font-size: 0.5cm;
    padding-bottom: 5px;
}

.playing {
    transform: scale(0.9);
    border: 4px solid rgba(255, 230, 7, 0.712);
  }

.bea{
    color: whitesmoke;
    width: 180px;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.bea:hover{
    transform: scale(1.1);
    text-shadow: 0 0 5px black;
}